button {
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  max-width: 150px;
  word-wrap: break-word;
  cursor: pointer;
}
button:disabled{
  background-color: lightgray;
  color: darkgray;
}
.primary {background-color: #008CBA;} 
.secondary {background-color: #e7e7e7; color: black;} 
.success {background-color: #4CAF50;} 
.danger {background-color: #f44336;} 
